<div class="page-header">
  <h2>タスク作成</h2>
</div>

<%= form_for [current_user, @task] do |form| %>
  <%= render "form", form: form %>
  <%= form.submit "登録する", class: "btn btn-default", data: { disable_with: "作成中" } %>
<% end %>
