<%= render "shared/login_form" unless current_user %>

<% if current_user %>
<p class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<%= current_user.name %>さん |
<%= link_to "ログアウト", logout_path, method: :delete, data: { confirm: "ログアウトしますか" } %>
</p>
<% end %>